@import '../Input.module';

.cor_input_number {
    @extend .cor_input;

    &--no-btn {
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    input {
        min-width: 160px;
        position: relative;
    }

    &__status {
        @extend .cor_input__status;
    }

    &--success {
        @extend .cor_input--success;
    }

    &--warning {
        @extend .cor_input--warning;
    }

    &--error {
        @extend .cor_input--error;
    }
}
