{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": [
    "stylelint-selector-bem-pattern",
    "stylelint-order"
  ],
  "rules": {
    "indentation": 4,
    "selector-class-pattern": null,
    "scss/percent-placeholder-pattern": null,
    "scss/at-import-partial-extension": null,
    "scss/at-extend-no-missing-placeholder": null,
    "order/properties-alphabetical-order": true,
    "string-quotes": "single",
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    }
  }
}
