.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__center {
    max-width: 942px;
    width: 940px;
    height: 100vh;
    border: 1px solid #2a2a2d;
    display: flex;
  }
}

.reverse {
  flex-direction: row-reverse;
}
