.cor_button {
    align-items: center;
    border: none;
    border-radius: 80px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    margin: 4px 0 0 4px;
    padding: 0 22px;
    transition: all 0.1s ease-in-out;

    &:hover:not(:disabled) {
        transform: translate(-4px, -4px);
    }

    &:active:not(:disabled) {
        transform: translate(0, 0);
    }

    &:disabled {
        background: #e4e5f1;
        color: #b3b5cc;
    }

    &--primary {
        background: #3b7fff;
        color: #f5f8ff;

        &:hover:not(:disabled) {
            background: #0a5fff;
            box-shadow: 4px 4px 0 #004ad6;
        }

        &:active:not(:disabled) {
            background: #004ad6;
            box-shadow: none;
        }
    }

    &--secondary {
        background: #f5f8ff;
        border: 1px solid #3b7fff;
        color: #3b7fff;

        &:hover:not(:disabled) {
            box-shadow: 4px 4px 0 #004ad6;
        }

        &:active:not(:disabled) {
            border: 1px solid #004ad6;
            box-shadow: none;
            color: #004ad6;
        }
    }

    &--tertiary {
        background: white;
        border: 1px solid #242427;
        color: #242427;

        &:hover:not(:disabled) {
            box-shadow: 4px 4px 0 #36363a;
        }

        &:active:not(:disabled) {
            background: #e4e5f1;
            box-shadow: none;
        }
    }

    &--regular {
        font-size: 16px;
        height: 48px;
        min-width: 153px;
    }

    &--large {
        font-size: 18px;
        height: 56px;
        min-width: 167px;
    }

    &--small {
        font-size: 14px;
        height: 40px;
        min-width: 131px;
    }

    &--micro {
        font-size: 12px;
        height: 28px;
        min-width: 109px;
    }
}
