@import '../../../variables';

.cor_input_radio {
    margin-bottom: 12px;

    input[type='radio'] {
        appearance: none;
        background: white;
        border: solid 1px black;
        border-radius: 50%;
        height: 16px;
        margin: 0 12px 0 0;
        width: 16px;

        &:disabled {
            background: $grey-8;
            border: solid 1px $grey-6;
        }

        &::before {
            border-radius: 50%;
            box-shadow: inset 8px 8px $blue-5;
            content: '';
            height: 8px;
            transform: scale(0);
            transition: transform 0.1s ease-in-out;
            width: 8px;
        }

        &:checked::before {
            transform: scale(1);
        }
    }

    label {
        display: flex;
        font-size: 14px;
        line-height: 20px;
    }

    &--right {
        label {
            flex-direction: row-reverse;
            justify-content: flex-end;

            input[type='radio'] {
                margin-left: 12px;
                margin-right: 0;
            }
        }
    }
}
