@import '../Input.module';

.cor_input_money {
    @extend .cor_input;

    &--no-btn {
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    input {
        display: inline-block;
        min-width: 160px;
        position: relative;
    }

    &__status {
        @extend .cor_input__status;
    }

    &--success {
        @extend .cor_input--success;
    }

    &--warning {
        @extend .cor_input--warning;
    }

    &--error {
        @extend .cor_input--error;
    }

    &__symbol_group {
        position: relative;
        width: fit-content;

        input {
            padding-left: 34px;
        }

        .cor_currency_symbol {
            align-items: center;
            color: $grey-7;
            display: flex;
            line-height: 1;
            padding: 0 16px;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }

    &__symbol_group--right {
        position: relative;

        input {
            padding-left: 16px;
            padding-right: 34px;
        }

        .cor_currency_symbol {
            align-items: center;
            color: $grey-7;
            display: flex;
            line-height: 1;
            padding: 0 16px;
            position: absolute;
            right: 0;
            z-index: 2;
        }
    }

    .cor_currency_symbol {
        height: 100%;
    }
}
