.cor_input_switch {
    display: flex;
    flex-direction: column;

    &--inline {
        @extend .cor_input_switch;

        flex-direction: initial;

        &--right {
            @extend .cor_input_switch--inline;

            flex-direction: row-reverse;
            justify-content: flex-end;

            .cor_input_switch_label {
                margin-left: 8px;
            }
        }

        .cor_input_switch_label {
            margin-right: 8px;
        }
    }

    &_label {
        color: #6666;
    }

    &_wrapper {
        height: 28px;
        position: relative;
        width: 68px;

        &_lever {
            background-color: #ccc;
            border-radius: 34px;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.33s ease-in-out;

            &::before {
                background-color: white;
                border-radius: 50%;
                bottom: 4px;
                content: '';
                height: 20px;
                left: 5px;
                position: absolute;
                transition: 0.33s ease-in-out;
                width: 20px;
            }
        }

        & input {
            cursor: pointer;
            height: 100%;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: relative;
            width: 100%;
            z-index: 3;

            &:disabled {
                cursor: default;
            }
        }

        & input:disabled + &_lever {
            background-color: #ccc;
            outline: none;
        }

        & input:checked:not(:disabled) + &_lever {
            background-color: #2196f3;
        }

        & input:checked:not(:disabled) + &_lever::before {
            transform: translateX(38px);
        }

        & input:focus + &_lever {
            outline: 1px solid #2196f3;
        }
    }
}
