.CorInpurSwitch {
    display: flex;
    flex-direction: column;


    &__inline {
        @extend .CorInpurSwitch;
        flex-direction: initial;
       
        &--right {
            @extend .CorInpurSwitch__inline;
            flex-direction: row-reverse;
            justify-content: flex-end;
           
            .CorInpurSwitch__label {
                margin-left: 32px;
            }
        }
        
        .CorInpurSwitch__label {
            margin-right: 32px;
        }
    }

    &__label {
        color: #6666;
    }

    &__switchElement {
        width: 68px;
        height: 28px;
        position: relative;

        &__circle {
            border-radius: 34px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .33s ease-in-out;

            &::before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 5px;
                bottom: 4px;
                background-color: white;
                transition: .33s ease-in-out;
                border-radius: 50%;
            }


        }

        & input {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;

            &:disabled {
                cursor: default;
            }
        }

        & input:disabled+&__circle {
            background-color: #ccc;
            box-shadow: none
        }

        & input:checked:not(:disabled)+&__circle {
            background-color: #2196F3;
        }

        & input:checked:not(:disabled)+&__circle:before {
            transform: translateX(38px);
        }

        & input:focus+&__circle {
            box-shadow: 0 0 1px #2196F3;
        }


    }

}