@import '../../variables';

.cor_popup {
    position: relative;

    &_trigger {
        width: fit-content;
    }

    &_content {
        background: $grey-2;
        border-radius: 8px;
        color: white;
        display: none;
        padding: 4px 8px;
        position: absolute;
    }

    &_arrow {
        background: $grey-2;
        height: 8px;
        position: absolute;
        transform: rotate(45deg);
        width: 8px;
    }
}
